@use "sass:math";
@import '@styles/foundation/variable';
@import '@styles/foundation/mixin';

.article_header {
  position: relative;
  height: 320px;
  backface-visibility: hidden;

  @include mobile {
    height: 240px;
  }
}

.note_header {
  width: $width-content-pc;
  margin: 0 auto 16px;

  @include mobile {
    width: 100%;
    padding: 0 16px;
  }
}

.capture {
  position: fixed;
  left: 0;
  z-index: 0;
  display: block;
  width: 100%;
  margin-bottom: 16px;
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;

  top: -112px;
  height: 100vh;
  max-height: 680px;

  // top: $height-header-pc;
  // height: inherit;

  &::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%;
    height: inherit;
    z-index: 1;
    position: absolute;
  }

  @include mobile {
    top: $height-header-sp;
    height: inherit;
  }
}

.title_wrap {
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 0;
  margin-left: -(math.div($width-content-pc, 2));
  width: $width-content-pc;

  @include mobile {
    left: 0;
    width: 100%;
    margin-left: 0;
    padding: 0 16px;
  }
}

.title {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: 0.06rem;
  word-break: break-all;

  @include mobile {
    font-size: 1.3rem;
  }
}
.title_dark {
  @extend .title;
  text-shadow: 2px 2px 2px rgb(255 255 255 / 75%);
}
.title_light {
  @extend .title;
  text-shadow: 2px 2px 2px rgb(0 0 0 / 75%);
}

.date {
  padding: 16px 0;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  font-family: sans-serif;
}
.date_dark {
  @extend .date;
  text-shadow: 2px 2px 2px rgb(255 255 255 / 75%);
}
.date_light {
  @extend .date;
  text-shadow: 2px 2px 2px rgb(0 0 0 / 75%);
}

.article_bg {
  position: relative;
  width: 100%;
  padding: 24px 0 72px;
  background-color: #fff;

  &_inner {
    @include desktop {
      display: flex;
      width: 1080px;
      margin: 0 auto;
    }
  }
}

.article_main {
  @include desktop {
    width: 680px;
    margin: 0 auto;
  }
}

.article_meta {
  display: flex;
  width: $width-content-pc;
  margin: 0 auto 24px;

  @include mobile {
    display: block;
    width: 100%;
    padding: 0 16px;
    margin-bottom: 24px;
  }
}

.category {
  display: flex;
  align-items: flex-start;
  font-size: 0.9rem;
  margin-right: 24px;

  &_label {
    margin-right: 8px;
  }

  @include mobile {
    margin-bottom: 16px;
  }
}

.tag {
  display: flex;
  align-items: flex-start;
  font-size: 0.9rem;

  @include mobile {
    align-items: flex-start;
  }

  &_label {
    margin-right: 8px;
  }

  &_list {
    list-style: none;
  }

  &_item {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
  }
}

$padding-content-sp: 16px;

// 本文のスタイル
.article_body {
  width: $width-content-pc;
  margin: 0 auto;

  @include mobile {
    width: 100%;
    padding: 0 $padding-content-sp;
  }

  // typography
  h1 {
    font-size: 1.8rem;
    @include mobile {
      font-size: 1.5rem;
    }
  }
  h2 {
    font-size: 1.2rem;
    @include mobile {
      font-size: 1rem;
    }
  }
  h3 {
    font-size: 1.1rem;
    @include mobile {
      font-size: 1rem;
    }
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 0.9rem;
  }
  h6 {
    font-size: 0.8rem;
  }
  p,
  div {
    code {
      margin: 0 2px;
      border: 1px solid #cecece;
      background-color: #fff;
      color: #ff357f;
      font-size: 0.9rem;
      padding: 1px 4px;
      border-radius: 2px;
    }
  }
  pre code {
    background-color: #f8f8f8;
    font-size: 0.85rem;
    @include mobile {
      word-wrap: normal;
    }

    &:not([class*='language-']) {
      padding: 0.5rem 1rem;

      @include mobile {
        margin-left: -$padding-content-sp;
        margin-right: -$padding-content-sp;
        font-size: 0.9rem;
      }
    }
  }

  // list
  ul,
  ol {
    padding: revert;
    padding-left: 20px;
  }

  // table
  table {
    padding: 0;
    font-size: 0.85rem;
  }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0;
  }
  table tr:nth-child(2n) {
    background-color: #f8f8f8;
  }
  table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
  }
  table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
  }
  table tr th :first-child,
  table tr td :first-child {
    margin-top: 0;
  }
  table tr th :last-child,
  table tr td :last-child {
    margin-bottom: 0;
  }

  // spacing
  p,
  blockquote,
  ul,
  ol,
  dl,
  li,
  table,
  pre {
    margin: 16px 0;
  }

  // br
  br {
    height: 8px;
    display: block;
    content: '';
  }

  // anchor
  a {
    color: #4183c4;

    &:hover {
      text-decoration: underline;
    }

    &.absent {
      color: #cc0000;
    }
    &.anchor {
      display: block;
      padding-left: 30px;
      margin-left: -30px;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
    }
  }

  // blockquote
  blockquote {
    margin-left: 4px;
    border-left: 4px solid #dddddd;
    padding: 0 15px;
    color: #777777;
  }
  blockquote > :first-child {
    margin-top: 0;
  }
  blockquote > :last-child {
    margin-bottom: 0;
  }

  img {
    max-width: 100%;
  }

  .customLink {
    $rich_link_size: 120px;
    width: 100%;
    height: $rich_link_size;
    transition: background-color 300ms;
    @include mobile {
      height: auto;
    }
    &:hover {
      background-color: rgba(239, 246, 251, 0.7);
    }

    .inner {
      height: $rich_link_size;
      @include mobile {
        height: auto;
      }
    }
    a {
      color: $color-font-base;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
    .title {
      color: $color-font-base;
      line-height: 1.25rem;
    }
    .desc {
      margin: 0;
    }
    .domain {
      .url {
        margin: 0;
      }
    }
    .img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      flex-shrink: 0;
      &_wrap {
        width: $rich_link_size;
        height: $rich_link_size;
      }
    }
  }

  .customHeading {
    &.h2 {
      border-bottom: 1px solid #eaecef;
      padding-bottom: 4px;
    }

    .padding {
      height: 32px;
    }
    .link {
      display: flex;
      align-items: baseline;
      color: $color-font-base;
      &:hover {
        text-decoration: none;
        svg {
          fill: #4183c4;
        }
      }

      svg {
        min-width: 16px;
        margin: 0 8px 0 -2px;
        fill: #24292e;
        @include mobile {
          min-width: 10px;
        }
      }
    }
  }
}
