@import '@styles/foundation/variable';
@import '@styles/foundation/mixin';

.section {
  margin-bottom: 24px;
}

.title {
  margin-bottom: 16px;
}

.list {
  list-style: none;
}

.item {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
}
