@import '@styles/foundation/variable';
@import '@styles/foundation/mixin';

.l-container {
}

.l-header {
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: $height-header-pc;
  padding: 0 64px;
  border-bottom: 1px solid $border-color-header;
  box-sizing: border-box;
  transition: background-color 300ms linear;
  background-color: $bg-color-header;
  color: #fff;

  &.is-scrolled {
    background-color: $bg-color-header-scrolled;
    color: $color-font-base;
  }

  @include mobile {
    height: $height-header-sp;
  }

  &_logo {
    font-size: 1.3rem;
    font-family: $font-family-logo;
    cursor: pointer;
    img {
      width: 120px;
      height: 20px;
    }
    &-link {
      text-decoration: none;
    }
  }
  &_menu {
    &-wrap {
      margin-left: auto;
    }
    &-btn {
    }
  }
  @include mobile {
    padding: 0 16px;
  }
}

.l-footer {
  position: relative;
  z-index: 1;
  padding: 8px 16px;
  background: $bg-color-footer;
  backface-visibility: hidden;

  &_profile {
    width: 480px;
    margin: 0 auto;
    padding-bottom: 16px;
    color: rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid rgba(255, 255, 255, 0.54);

    @include mobile {
      width: 100%;
    }
  }
  &_icon {
    text-align: center;
  }
  &_text {
    font-size: 0.8rem;
  }
  &_name {
    text-align: center;
    margin-bottom: 8px;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.98);
  }
  &_sns {
    margin: 8px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.98);
  }
  &_copyright {
    font-family: $font-family-en;
    font-size: 0.75rem;
    letter-spacing: 0.3rem;
    color: #fff;
    text-decoration: none;
    text-align: center;

    @include mobile {
      transform: scale(0.85) translateX(-32px);
    }
  }
  &_btn-top {
    margin-left: auto;
    color: #fff;
    @include mobile {
      position: fixed;
      z-index: 100;
      bottom: 24px;
      right: 16px;
      width: 48px;
      height: 48px;
      background: $bg-color-footer !important;
    }
    &-icon {
    }
    &-text {
      font-family: $font-family-en;
      @include mobile {
        display: none !important;
      }
    }
  }
  &_body {
  }
  &_link {
    color: #fff;
    font-size: 0.75rem;
    @include mobile {
      font-size: 0.6rem;
    }
  }
}

@mixin l-content {
  position: relative;
  min-height: calc(100vh - 72px);
  margin: 0 auto;
  text-align: left;
  background-color: #fff;

  @include mobile {
    width: 100%;
    min-height: calc(100vh - 32px);
  }
}

.l-content {
  @include l-content;
  padding: ($height-header-pc + 32px) 0 56px;
  width: $width-content-pc;

  @include mobile {
    padding: ($height-header-sp + 16px) 16px 32px;
  }

  &--article,
  &--note {
    @include l-content;
    padding: $height-header-pc 0 56px;

    @include mobile {
      padding: $height-header-sp 0 32px;
    }
  }

  &--auth {
    @include l-content;
    width: 320px;
    padding: ($height-header-pc + 32px) 0 56px;

    @include mobile {
      width: 100%;
      padding: ($height-header-sp + 16px) 16px 32px;
    }
  }
}
